:root {
  --black: #000000;
  --white: #ffffff;
  --accent: #f95f51;
  --accent-hover: #cc4e43;
  --light-grey: #f7f7f7;
  --grey: #9b9b9b;
  --dark-grey: #1e1e1e;
  --xl: 90px;
  --medium: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title-bar {
  background: var(--light-grey);
  text-align: center;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-bar h1 {
  color: var(--black);
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.highlow {
  padding-top: var(--xl);
  padding-bottom: var(--xl);
}

a {
  transition: 0.3s all;
}

@media (max-width: 640px) {
  :root {
    --xl: 40px;
    --medium: 30px;
  }
  .title-bar {
    min-height: 120px;
  }
  .title-bar h1 {
    font-size: 24px;
    line-height: 30px;
  }
}
